<div id="login">
  <form method="post">
    <fieldset>
      <legend>Log in</legend>

      <div class="pair">
        <label for="form_user">Username</label>
        <input id="form_user" type="text" name="user" />
      </div>

      <div class="pair">
        <label for="form_pass">Password</label>
        <input id="form_pass" type="password" name="pass" />
      </div>

      <input type="submit" value="Log in" />
    </fieldset>
  </form>
</div>
