#login
  %form{:method => :post}
    %fieldset
      %legend= l('Log in')
      .pair
        %label{:for => :form_user}= l('Username')
        %input#form_user{:type => :text, :name => :user}
      .pair
        %label{:for => :form_pass}= l('Password')
        %input#form_pass{:type => :password, :name => :pass}
      %input{:type => :submit, :value => l('Log in')}
